* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #efe9e6;
}

img {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

/* 

NAV

*/

.nav {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: fit-content;
  padding: 10em 0.5em;
  font-size: 26px;
}

.nav__logo--wrapper {
  display: flex;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 2.25em;
}

.nav__logo {
  scale: 1;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.nav__link--item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  padding: 0.2em;
}
.nav__link--item:hover .nav__link {
 scale: 1.15;
}

.nav__link {
  display: flex;
  flex-direction: column;
  color: #8f7d5e;
  transition: all 300ms ease;
}

.nav__name {
  opacity: 0;
  margin-top: 0.3em;
  font-size: .4em;
  transition: all 700ms;
  font-weight: 600;
}

.nav__link--item:hover .nav__name {
  opacity: 1;
}
